body{
    background: silver;

}
aside{
    float: left;
    background: slategray;
    padding: 2.5%;
    width: 15%;
    height: 100vmax;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 120%;
    margin-right: 2.5%;

}
a {
    text-decoration: none;
   }
nav.pag{
    font-family: Arial, sans-serif;
    font-size: 200%;
    color: #ffffff;
    }
